@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
  width: 100%;
  height: 100%;
}
html::-webkit-scrollbar{
  display: none;
}

body {
  background-color: rgb(29,29,27);
  color: white;
  font-family:'SBAggroB';
  width:100%;
  height:100%;
}

.inner{
  width: 100%;
  height:100%;
  position: relative;
  transform: scale(1.0);
  background-image: url("https://cdn.pixabay.com/photo/2020/09/23/17/12/flowers-5596564_960_720.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.geduri{
  vertical-align: middle;
  text-align: center;
}

.geduri .geduri-text{
  position: relative;
  color: rgb(29,29,27);
  z-index: 200;
  font-size:3rem;
  text-decoration-line: none !important;
}

.round {
  background-color:white;
  opacity: 0.5;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  cursor: pointer;
  transition: transform 1.5s;
}

#roundToggle:checked ~ .round{
  animation-name: btnExpand;
  background-color:black;
}

#roundToggle:checked ~ .round{
  display: block;
  animation-name: delayedFadeIn;
}

.round:hover{
  transform: translate(-50%, -50%) scale(1.2);  
}

@keyframes btnExpand {
  15% {
    color: transparent;
    width: 10em;
  }
  35% {
    width: 3em;
    height: 3em;
    border-radius: 9999px;
    margin: 0;
  }
  to {
    width: 9999px;
    height: 9999px;
    border-radius: 9999px;
    color: transparent;
  }
}

@keyframes delayedFadeIn {
  from: {
    opacity: 0
  }
  55% {
    opacity: 0
  }
  65% {
    opacity: 1
  }
  to {
    opacity: 1
  }
}