@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

/* 로고 폰트 */
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* textarea {
    width:100%;
}
input[type=submit] {
    margin-top:10px;
} */

/* 메인폰트 */
*{
    font-family: 'KOTRAHOPE';
}

a{
    color:black;
    text-decoration: none;
    background-color: transparent;
}

.comment {
    border-top:dotted 1px #ddd;
    font-size:0.7em;
}

/* 로고 */
.navbar-brand {
    font-family: 'KOTRAHOPE';
    font-size:2rem;
    /* background-image: url("img/logo.png"); */
    /* width: 100px; */
    /* height: 50px; */
    /* background-size: cover; */
}

/* 좌상단 메뉴 */
.header_util {
    position: absolute;
    right: 30px;
    top: 0;
    font-size:0.8rem;
}

/* 중앙메뉴 */
.header_nav{
    font-size:1.3rem;
}

.header_nav li{
    margin-left:3rem;
    margin-right:3rem;
}

.header_nav li a {
    font-family: 'KOTRAHOPE';
    text-align: center;
}

/* question banner */
.masthead {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #401803;
    background-image: url("img/question-banner.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}


/* 배너용 */
@font-face {
    font-family: 'Manse';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Manse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mastead-subheading {
    font-family: 'Manse';
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
}

.mastead-heading {
    font-family: 'Manse';
    color: rgb(148, 103, 103);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2rem;
}

@media (min-width: 768px){
    .mastead-hiddensbheading {
        display: none;
    }
}


/****************************************
 ***************** main ******************
******************************************/
.main-caption {
    position: absolute;
    right: 15%;
    top: 100px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

/* 메인 슬라이드 내용 */
.main-caption-title {
    text-align: left;
    font-size:5rem;
}


/****************************************
 ***************** about *****************
******************************************/

.section-subheading {
    margin-bottom:2.4rem;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #343a40;
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline-hading-text {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px;
    }
    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 10px 20px 20px 30px;
        text-align: right;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 10px 30px 20px 20px;
        text-align: left;
    }
}

.question-table td {
    font-family: 'NanumBarunGothic' !important;
}