{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}
<div class="container my-3">
    <!-- 본인 게시글 추천 시 오류 -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <!-- ------------------------------ question ------------------------------ -->
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <!--  게시글 추천 -->
    <div class="row my-3">
        <!-- 추천 -->
        <div class="col-1">
            <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
                {{ question.voter|length }}
            </div>
            <a
                href="#"
                class="recommend btn btn-sm btn-secondary btn-block my-1"
                data-uri="{{ url_for('vote.question', question_id=question.id) }}"
            >추천
            </a>
        </div>
        <!-- 질문 -->
        <div class="col-11">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">{{ question.content|markdown }}</div>
                    <div class="d-flex justify-content-end">
                        <!-- 게시글 수정일자 -->
                        {% if question.modify_date %}
                        <div class="badge badge-light p-2 text-left mx-3">
                            <div class="mb-2">수정 날짜</div>
                            <div>{{ question.create_date|datetime }}</div>
                        </div>
                        {% endif %}
                        <!-- 게시글 작성일자 -->
                        <div class="badge badge-light p-2 text-left">
                            <div class="mb-2">{{ question.user.username }}</div>
                            <div>{{ question.create_date|datetime }}</div>
                        </div>
                    </div>
                    {% if g.user == question.user %}
                    <div class="my-3">
                        <a
                            href="{{ url_for('question.modify', question_id=question.id) }}"
                            class="btn btn-sm btn-outline-secondary"
                        >수정
                        </a>
                        <a
                            href="#"
                            class="delete btn btn-sm btn-outline-secondary"
                            data-uri="{{ url_for('question.delete', question_id=question.id) }}"
                        >삭제
                        </a>
                        
                    </div>
                    {% endif %}
                    <!-- 질문 댓글 -->
                    {% if question.comment_set|length > 0 %}
                    <div class="mt-3">
                        {% for comment in question.comment_set %}
                        <!-- 댓글 앵커 엘리먼트 -->
                        <a name="comment_{{ comment.id }}"></a>
                        <div class="comment py-2 text-muted">
                            <span style="white-space: pre-line;">{{ comment.content }}</span>
                            <span>
                                - {{ comment.user.username }}, {{ comment.create_date|datetime }}
                                {% if comment.modify_date %}
                                (수정 : {{ comment.modify_date|datetime }})
                                {% endif %}
                            </span>
                            {% if g.user == comment.user %}
                            <a
                                href="{{ url_for('comment.modify_question', comment_id=comment.id) }}"
                                class="small"
                            >수정
                            </a>
                            <a
                                href="#"
                                class="small delete"
                                data-uri="{{ url_for('comment.delete_question', comment_id=comment.id) }}"
                            >삭제
                            </a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div>
                        <a
                            href="{{ url_for('comment.create_question', question_id=question.id) }}"
                            class="small"
                        ><small>댓글 추가 ..</small>
                        </a>
                    </div>
                    <!-- 질문 댓글 끝 -->
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------ answer ------------------------------ -->
    <h5 class="border-bottom my-3 py-2">{{ question.answer_set|length }}개의 답변이 있습니다.</h5>
    {% for answer in question.answer_set %}
    <!-- 스크롤 앵커 기능 -->
    <a name="answer_{{ answer.id }}"></a>
    <div class="row my-3">
        <!-- 댓글 추천 -->
        <div class="col-1">
            <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
                {{ answer.voter|length }}
            </div>
            <a
                href="#"
                class="recommend btn btn-sm btn-secomdary btn-block my-1"
                data-uri="{{ url_for('vote.answer', answer_id=answer.id) }}"
            >추천
            </a>
        </div>
        <!-- 댓글 --> 
        <div class="col-11">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">{{ answer.content|markdown }}</div>
                    <div class="d-flex justify-content-end">
                        <!-- 댓글 수정일자 -->
                        {% if answer.modify_date %}
                        <div class="badge badge-light p-2 text-left mx-3">
                            <div class="mb-2">수정 날짜</div>
                            <div>{{ answer.create_date|datetime }}</div>
                        </div>
                        {% endif %}
                        <!-- 댓글 작성일자 -->
                        <div class="badge badge-light p-2 text-left">
                            <div class="mb-2">{{ answer.user.username }}</div>
                            <div>{{ answer.create_date|datetime }}</div>
                        </div>
                    </div>
                    {% if g.user == answer.user %}
                    <!-- 답변 수정 / 삭제 -->
                    <div class="my-3">
                        <a
                            href="{{ url_for('answer.modify', answer_id=answer.id) }}"
                            class="btn btn-sm btn-outline-secondary">
                            수정
                        </a>
                        <a
                            href="#"
                            class="delete btn btn-sm btn-outline-secondary"
                            data-uri="{{ url_for('answer.delete', answer_id=answer.id) }}">
                            삭제
                        </a>
                    </div>
                    {% endif %}
                    <!-- 답변 댓글 -->
                    {% if answer.comment_set|length > 0 %}
                    <div class="mt-3">
                        {% for comment in answer.comment_set %}
                        <!-- 댓글 앵커 엘리먼트 -->
                        <a name="comment_{{ comment.id }}"></a>
                        <div class="comment py-2 text-muted">
                            <span style="white-space: pre-line;">{{ comment.content }}</span>
                            <span>
                                - {{ comment.user.username }}, {{ comment.create_date|datetime }}
                                {% if comment.modify_date %}
                                (수정 : {{ comment.modify_date|datetime }})
                                {% endif %}
                            </span>
                            {% if g.user == comment.user %}
                            <a
                                href="{{ url_for('comment.modify_question', comment_id=comment.id) }}"
                                class="small"
                            >수정
                            </a>
                            <a
                                href="#"
                                class="small delete"
                                data-uri="{{ url_for('comment.delete_question', comment_id=comment.id) }}"
                            >삭제
                            </a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div>
                        <a href="{{ url_for('comment.create_answer', answer_id=answer.id) }}"
                           class="small"><small>댓글 추가 ..</small></a>
                    </div>
                    <!-- 답변 댓글 끝 -->
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <form action="{{ url_for('answer.create', question_id=question.id) }}" method="post" class="my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <!-- 로그인을 안했을 경우 답변 등록 불가능 -->
            <textarea {% if not g.user %}disabled{% endif %} name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary">
    </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    // 삭제 경고창
    $(".delete").on('click', function(){
        if(confirm("삭제하시겠습니까?")){
            location.href = $(this).data('uri');
        }
    });
    // 추천 경고창
    $(".recommend").on('click', function(){
        if(confirm("추천하시겠습니까?")){
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}