{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}
<div class="container" style="height: 150px;"></div>
<div class="container">
    <div class="text-center">
        <h1 class="section-heading text-uppercase">연혁</h1>
        <h3 class="section-subheading text-muted">게두리가 걸어온 길</h3>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="" alt="">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-hading-text">2021. 10.</h4>
                    <h4 class="timeline-hading-text subheading">게두리 창립</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">두리게두리게</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="" alt="">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-hading-text">2021. 11.</h4>
                    <h4 class="timeline-hading-text subheading">머하셧음?</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">뭐했는지 알아야 적을텐데</p>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}